{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <h1>Tableau de bord</h1>
      <button hx-post="/connexion" hx-swap="outerHTML">
    Click Me
  </button>
{% endblock %}
