{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

{% if app.user.isVerified == false %}
    <h2>Valider votre adresse e-mail</h2>
    
{% endif %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>D:/tmxdu/Codage/Jensone cours/MINIAMAKER/miniamaker/src/Controller/UserController.php</code></li>
        <li>Your template at <code>D:/tmxdu/Codage/Jensone cours/MINIAMAKER/miniamaker/templates/user/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
